.body{
 background-color:#C8C8C8;
}


.main_bg{
  transition-delay: 0s;
  background-color: white;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  color: #646464;
  border-bottom: 1px solid rgb(44,157,142);

}



div.row H1,H2,H3,H3,H4{
  color:rgb(44,157,142);
}
div.row div{
  color:black;
  font-size:1.2em;
}



strong{
  color:#ffaa22;
}


.white_bg{
  background-color:rgba(255,255,255,1);
}

.row_padding{
  margin-bottom: 10px;
}

.shadow{
  box-shadow: 0px 8px 17px 0  rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}
